<h1>アカウント編集</h1>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= bootstrap_devise_error_messages! %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, autofocus: true, autocomplete: 'name', class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :group %>
    <%= f.select :group, ['WIP', '株式会社A', '株式会社B', '株式会社C'], { include_blank: '選択してください'}, autofocus: true, autocomplete: 'group', class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.submit t('.update'), class: 'btn btn-primary btn-block' %>
  </div>
  <div>
    <%= link_to "戻る", posts_index_path, class: 'btn btn-secondary btn-block' %>
  </div>
<% end %>