<% provide(:class_text, 'edit-message') %>
<% provide(:button_text, '更新') %>

<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-header">
    <h2 class="modal-title modal-title-group-email-edit">一斉メール編集</h2>
      <button type="button" class="btn btn-close" data-bs-dismiss="modal" aria-label="Close">
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="group-email-modal col-md-12 col-md-offset-4">
          <%= form_with(model: @group_email_comment, local: true, method: :patch) do |f| %>
            <%# <%= render 'shared/error_messages', object: @user  %>
            <%= f.hidden_field :staff_id, value: current_staff.id %>
            <%= f.label "件名", class: 'form-label' %>
            <%= f.text_field :subject, class: "form-control mb-4"%>
            <%= f.label "メール内容", class: 'form-label' %>
            <%= f.text_area :comment, size: "25x10", class: "form-control form-size"%>

            <div class="center">
              <%= f.submit yield(:button_text), class: "btn btn-primary btn-#{yield(:class_text)}" %>
              <button type="button" class="btn btn-default btn-<%= yield(:class_text) %>" data-dismiss="modal">
                キャンセル
              </button>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
