<div class="container">
  <div class="card-deck text-center">
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">ジョカツ川柳 投票フォーム</h4>
      </div>
      <div class="card-body">
        <h2 class="card-title pricing-card-title">ようこそ！</h2>
        <ul class="list-unstyled mt-3 mb-4">
          <li>概要</li>
        </ul>
        <div class="user-signed">
          <div class="signed-in text-left">
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <div class="form-group">
                <%= f.label :login_id %>
                <%= f.text_field :login_id, autofocus: true, autocomplete: 'login_id', class: 'form-control', required: true %>
              </div>

              <div class="form-group">
                <%= f.submit  t('.sign_in'), class: 'btn btn-primary btn-block' %>
              </div>
              
            <% end %>
          </div>
          <div class="voter-staff mt-2">
            <%= link_to '投票者の方はこちら', new_voter_session_path, class: "btn-resize"%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
