<%= form_with(model: @user, url: users_path, local: true) do |f| %>
  <div class="row">
    <div class="col-mw-md col-mw-xl center-block">
      <h1>確認画面</h1>
      <%= f.hidden_field :name %>
      <%= f.hidden_field :gender %>
      <%= f.hidden_field :address %>
      <%= f.hidden_field :profession %>
      <%= f.hidden_field :other %>
      <%= f.hidden_field :age %>
      <%= f.hidden_field :email %>
      <%= f.hidden_field :note %>
      <%= f.hidden_field :questionary %>
      <% @user.posts.each do |posts| %>
        <%= f.fields_for :posts, posts do |post| %> 
          <%= post.hidden_field :first_phrase %>
          <%= post.hidden_field :second_phrase %>
          <%= post.hidden_field :third_phrase %>
          <%= post.hidden_field :pen_name %>
          <%= post.hidden_field :category %>
        <% end %>
      <% end %>
      <div class="table-responsive">
	      <table class="table">
          <% @user.posts.each do |posts| %>
            <tr>
              <th class="confirm-th">川柳</th>
              <td class="confirm-td">
                <%= posts.first_phrase %>
                <%= posts.second_phrase %>
                <%= posts.third_phrase %>
              </td>
            </tr>
            <tr>
              <th class="confirm-th">ペンネーム</th>
              <td class="confirm-td"><%= posts.pen_name %></td>
            </tr>
            <tr>
              <th class="confirm-th">部門</th>
              <td class="confirm-td"><%= posts.category %></td>
            </tr>
          <% end %>
        </table>
          <h4 class="info">ご本人ついて</h4>
          <table class="table">
          <tr><th class="confirm-th">お名前</th><td class="confirm-td"><%= @user.name %></td></tr>
          <tr><th class="confirm-th">性別</th><td class="confirm-td"><%= @user.gender %></td></tr>
          <tr><th class="confirm-th">お住まい</th><td class="confirm-td"><%= @user.address %></td></tr>
          <tr><th class="confirm-th">職業</th><td class="confirm-td"><%= @user.profession %><br><%= @user.other %></td></tr>
          <tr><th class="confirm-th">年代</th><td class="confirm-td"><%= @user.age %></td></tr>
          <tr><th class="confirm-th">メールアドレス</th><td class="confirm-td"><%= @user.email %></td></tr>
          <tr><th class="confirm-th">メッセージ</th><td class="confirm-td"><%= @user.note %></td></tr>
          <tr><th class="confirm-th">アンケート</th><td class="confirm-td"><%= @user.questionary %></td></tr>
        </table>
      </div>
      <div class="actions">
        <%= f.submit '投稿画面に戻る', name: 'back', class: "btn btn-secondary confirm-btn" %>
        <%= f.submit '投稿する', class: "btn btn-success confirm-btn" %>
      </div>    
    </div>
  </div>
<% end %>