<% provide(:title, "input_form") %>
<%= form_with(model: @user, url: confirm_users_path(@user), local: true) do |f| %>

  <div class="title mb-3">
    <h1>ジョカツ川柳 応募フォーム</h1>
  </div>
  <div class="row">
    <div class="col-mw-md col-mw-xl col-md-10 center-block">
      <p class="category-atention">
        部門は必ず選択してください
      </p>
      <% @user.posts.each do |posts| %>
        <%= f.fields_for :posts, posts do |post| %> 
          <table border="0" class="senryu-table">
            <tr>
              <th class="senryu-th"><span class="font-category-phrase">部 門</th>
              <td class="senryu-td"><%= post.select :category, Post::CATEGORIES, { include_blank: ''}, class: "input-width form-control" %></td>
            </tr> 
            <tr>
              <th class="senryu-th"><span class="font-category-phrase">作 品</th>
              <td class="senryu-td">
                <%= post.text_field :first_phrase, placeholder: "上の句", class: "input-width form-control" %>
                <%= post.text_field :second_phrase, placeholder: "中の句", class: "input-width form-control" %>
                <%= post.text_field :third_phrase, placeholder: "下の句", class: "input-width form-control" %>
              </td>
            </tr>
            <tr>
              <th class="senryu-th"><span class="font-pn">ペンネーム</span></th>
              <td class="senryu-td"><%= post.text_field :pen_name, placeholder: "ペンネーム", class: "input-width form-control" %></td>
            </tr>
          </table>
        <% end %>
      <% end %><br>
      <table border="0" class="users-table">
        <tr>
          <th class="users-th">お名前<span class="color-red">必須</span></th>
          <td class="users-td"><%= f.text_field :name, class: "input-form form-control col-md-7", required: true %></td>
        </tr>
        <tr>
          <th class="users-th">性別<span class="color-red">必須</span></th>
          <td class="users-td">
            <%= f.radio_button :gender, "女性", required: true %>女性<br>
            <%= f.radio_button :gender, "男性" %>男性<br>
            <%= f.radio_button :gender, "指定なし" %>指定なし
          </td>
        </tr>
        <tr>
          <th class="users-th">お住まい<span class="color-red">必須</span></th>
          <td class="users-td">
            <%= f.select :address, User::ADDRESSES, { include_blank: ''}, class: "input-form form-control col-md-4", required: true %>
          </td>
        </tr>
        <tr>
          <th class="users-th">ご職業<span class="color-red">必須</span></th>
          <td class="users-td">
            <%= f.select :profession, User::PROFESSION, { include_blank: ''},
                                                        { class: "input-form form-control col-md-7", required: true, id:"myselectbox", onchange:"myfunc()" } %>
              <p class="color-pink mt-1">
                その他 を選択されましたらご記入ください。
              </p>
              <div class="other-field mb-2">
                <%= f.text_field :other, id:"other_select", disabled:"disabled", class: "form-control col-md-7" %>
              </div>  
          </td>
        </tr>
        <tr>
          <th class="users-th">年代<span class="color-red">必須</span></th>
          <td class="users-td">
            <%= f.select :age, User::AGE, { include_blank: ''}, class: "input-form form-control col-md-4", required: true %>
          </td>
        </tr>
        <tr>
          <th class="users-th">Eメール</span><span class="color-red">必須</span></th>
          <td class="users-td">
            <p class="color-pink mt-2">入選されましたらこちらに入力されたメールアドレスにご連絡をいたします。<br>連絡のつくメールアドレスをご入力ください。</p>
            <%= f.email_field :email, class: "input-form form-control col-md-10", required: true %>
            <p class="color-pink">jokatsu.senryu@gmail.comからのメールが受信できるように設定をお願いします。</p>
          </td>
        </tr>
        <tr>
          <th class="users-th">メッセージ</th>
          <td class="users-td"><%= f.text_area :note, size: "25x5", class: "input-form-note form-control" %></td>
        </tr>
        <tr>
          <th class="users-th">アンケート<span class="color-red">必須</span></th>
          <td class="users-td">
            <p class="color-pink mt-2">この企画を何でお知りになりましたか？</p>
            <% Post::QUESTIONARIES.each do |questionary| %>
              <%= f.check_box :questionary,  {multiple: true}, questionary, nil %>
              <%= questionary %><br>
            <% end %>

          </td>
        </tr>   
      </table>
      <div class="user-index-btn">
        <%= f.submit "内容確認画面へ", class: "btn btn-secondary" %>
      </div>
    </div>
  </div>
<% end %>

<script>
  function myfunc() {
    var value = document.getElementById("myselectbox").value;
    if(value === 'その他'){
      document.getElementById("other_select").disabled = false;
    } else {
      document.getElementById("other_select").disabled = true;
    }
  }
</script>