<% provide(:title, "voterposts_edit") %>
<%= form_with(model: @voterpost, url: voterpost_path(current_voter.id, @category), local:true, method: :patch) do|f| %>
  <div class="row">
    <div class="col-mw-md col-mw-xl center-block">
      <div class="edit-body">
        <h4 class="category-show">【<%= @category %>】</h4>
        <p class="font-size">確認画面</p>
	      <table class="table">
          <% @check.each do |post| %>
            <tr>
              <td class="confirm-td">
                &nbsp;<%= post.id %>.&emsp;<%= post.first_phrase%>&emsp;<%= post.second_phrase %>&emsp;<%= post.third_phrase %>&nbsp;/(<%= post.pen_name %>)
              </td>
            </tr>
          <% end %>
          <tr>
            <th class="edit-th">推薦したいお気に入りの川柳<span class="color-red">必須</span></th>
          </tr>            
          <tr>
            <td>
              1作品だけを選んでください。<br>
              No.
              <% if params[:format] == "女性パワーで未来を変えるの部" %>
                <%= f.text_field :favorite_post1 %>
              <% elsif params[:format] == "ジェンダー・多様性の部" %>
                <%= f.text_field :favorite_post2 %>
              <% elsif params[:format] == "はたらく女子の部" %>
                <%= f.text_field :favorite_post3 %>
              <% elsif params[:format] == "ママ・子どもの部" %>
                <%= f.text_field :favorite_post4 %>
              <% elsif params[:format] == "名もなき家事の部" %>
                <%= f.text_field :favorite_post5 %>
              <% elsif params[:format] == "本当にありがとう❣️感謝の部" %>
                <%= f.text_field :favorite_post6 %>
              <% elsif params[:format] == "あるある❣️の部" %>
                <%= f.text_field :favorite_post7 %>
              <% elsif params[:format] == "涙がポロ❣️の部" %>
                <%= f.text_field :favorite_post8 %>
              <% elsif params[:format] == "輝け❣️私のライフスタイルの部" %>
                <%= f.text_field :favorite_post9 %>
              <% elsif params[:format] == "心がきゅん❣️私の癒しの部" %>
                <%= f.text_field :favorite_post10 %>
              <% elsif params[:format] == "SDGsアクションの部" %>
                <%= f.text_field :favorite_post11 %>
              <% end %>
            </td>
          </tr>
          <tr>
            <th class="edit-th">推薦理由</th>
          </tr>
          <tr>
            <td class="voterpost-index-textarea">
            <% if params[:format] == "女性パワーで未来を変えるの部" %>
              <%= f.text_area :reason1, size: "40x2" %>
            <% elsif params[:format] == "ジェンダー・多様性の部" %>
              <%= f.text_area :reason2, size: "40x2" %>
            <% elsif params[:format] == "はたらく女子の部" %>
              <%= f.text_area :reason3, size: "40x2" %>
            <% elsif params[:format] == "ママ・子どもの部" %>
              <%= f.text_area :reason4, size: "40x2" %>
            <% elsif params[:format] == "名もなき家事の部" %>
              <%= f.text_area :reason5, size: "40x2" %>
            <% elsif params[:format] == "本当にありがとう❣️感謝の部" %>
              <%= f.text_area :reason6, size: "40x2" %>
            <% elsif params[:format] == "あるある❣️の部" %>
              <%= f.text_area :reason7, size: "40x2" %>
            <% elsif params[:format] == "涙がポロ❣️の部" %>
              <%= f.text_area :reason8, size: "40x2" %>
            <% elsif params[:format] == "輝け❣️私のライフスタイルの部" %>
              <%= f.text_area :reason9, size: "40x2" %>
            <% elsif params[:format] == "心がきゅん❣️私の癒しの部" %>
              <%= f.text_area :reason10, size: "40x2" %>
            <% elsif params[:format] == "SDGsアクションの部" %>
              <%= f.text_area :reason11, size: "40x2" %>
            <% end %>
            </td> 
          </tr>
        </table>
        <div class="actions">
          <%= f.submit '投票画面に戻る', name: 'back', class: "btn-gradient confirm-btn" %>
          <%= f.submit '投票する', name: @category, class: "btn-gradient-radius confirm-btn" %>
        </div>        
      </div>
    </div>
  </div>
<% end %>