<% provide(:title, "voterposts_index") %>

<%= link_to "投票ページへ", voterpost_path(@posts) %>



<%# 後で消す %>
<% @voterpost.each do |v| %>
  <p>id:<%= v.id %>/ユーザーid:<%= v.voter_id %>/No.<%= v.favorite_post %>/推薦理由<%= v.reason %></p>
<% end %>
<%# 後で消す。ここまで %>


