<% provide(:title, "voterposts_show") %>
<div class="row">
  <div class="col-mw-md col-mw-xl center-block">
    <h1>応募作品一覧</h1>
    <table border=1>
      <tr>
        <th>応募作品</th>
      </tr>
      <tr>
        <td>
          <span class="voterpost-index-td">
            <p>いいね件数: <%= current_voter.favorites.count %></p>
              <p>１５件まで投票できます。（設定まだ。）</p>
              <% @posts.each do |user| %>
                <% user.posts.each do |post| %>
                  <% if post.first_phrase.present? %>
                    <!-- すでに「いいね！」されている時の表示 -->
                    <% if current_voter.favorites.include?(post) %>  
                      <div class="narabi"><%= button_to '投票中', voterpost_likes_path(post, post_id: post.id), method: :delete, class:"btn btn-danger" %></div>
                      <div class="narabi">&nbsp;<%= post.id %>.&emsp;<%= post.first_phrase%>&emsp;<%= post.second_phrase %>&emsp;<%= post.third_phrase %>&nbsp;/(<%= post.pen_name %>)/<%= user.gender%>/<%= user.address%>/<%= user.profession%>/<%= user.age %>
                     <% else %>
                      <div class="narabi"><%= button_to '未投票', voterpost_likes_path(post, post_id: post.id), class: "btn btn-secondary" %></div>
                      <div class="narabi">&nbsp;<%= post.id %>.&emsp;<%= post.first_phrase%>&emsp;<%= post.second_phrase %>&emsp;<%= post.third_phrase %>&nbsp;/(<%= post.pen_name %>)/<%= user.gender%>/<%= user.address%>/<%= user.profession%>/<%= user.age %><br></div>
                    <% end %>
                    <hr>
                  <% end %>
                <% end %>
              <% end %> 
          </span>
        </td>
      </tr>
    </table>
    <div class="voterpost-index-btn">
    <%= link_to '前ページに戻る', voterposts_path(current_voter), class: "btn btn-secondary confirm-btn" %>
      <%= link_to "内容確認画面へ", edit_voterpost_path(current_voter), class: "btn btn-secondary" %>
    </div>
  </div>
</div>
