<% provide(:title, "posts_index") %>

<%= form_with() do |f| %>
  <div class="row">
    <div class="col-mw-md col-mw-xl center-block">
      <h1>応募作品一覧</h1>
      <table border=1>
        <tr>
          <th>応募作品</th>
        </tr>
        <tr>
          <td>
            <span class="post-index-td">
            <% @posts.each do |user|%>
              <% user.posts.each do |post| %>
                <% if post.first_phrase.present? %>
                  <%= post.id %><%= post.first_phrase %><%= post.second_phrase %><%= post.third_phrase %>/(<%= post.pen_name %>)
                  /<%= user.gender %>/<%= user.address %>/<%= user.profession %>/<%= user.age %><br>
                <% end %>
              <% end %>
            <% end %>
            </span>
          </td>
        </tr>
        <tr>
          <th>推薦したいお気に入りの川柳<span class="color-red">必須</span></th>
        </tr>
        <tr>
          <td>
            1作品だけを選んでください。<br>
            No.
          </td>
        </tr>
        <tr>
          <th>推薦理由</th>
        </tr>
        <tr>
          <td>テキストフォーム</td>
        </tr>
      </table>
      <div class="post-index-btn">
        <%= f.submit "内容確認画面へ", class: "btn btn-secondary" %>
      </div>
    </div>
  </div>
  
<% end %>