<%= render 'layouts/flash_messages' %>
<h1>投票結果 確認画面（仮）</h1>

<p><%= @voter.name %></p>
<p><%= @voter.email %></p>
<p><%= @voter.group %></p>

<%= link_to "投稿者一覧へ", voters_voters_users_index_path, class: 'btn btn-primary' %>
<%= link_to 'ログアウト', destroy_voter_session_path, method: :delete, class: 'btn btn-secondary' %>