<div class="container">
  <div class="card-deck text-center">
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">女性活躍川柳　審査員フォーム</h4>
      </div>
      <div class="card-body">
        <%
=begin%>
 <h5 class="card-title pricing-card-title">
          女性活躍川柳<br>
          【審査員ログイン画面】
        </h5><br> 
<%
=end%>
        <div class="voter-sessions-info mt-2">
          <ul class="voter-sessions-info-ul list-unstyled">
            <li>ログインをして投票をお願いします</li><br>
            <li class="voter-login">審査投票締切　2月10日23:59まで</li>
          </ul>
        </div>  
        <div class="user-signed">
          <div class="signed-in text-left">
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <div class="form-group">
                <%= f.label :name %>
                <%= f.text_field :name, autofocus: true, autocomplete: 'name', class: 'form-control', required: true %>
              </div>

              <div class="form-group">
                <%= f.submit  t('.sign_in'), class: 'btn btn-primary btn-block' %>
              </div>
              
            <% end %>
          </div>
          <div class="signed-up">
            <%= link_to "初めての方はこちら", new_voter_registration_path, class: 'btn btn-info btn-block' %>
          </div>
          <div class="voter-staff mt-2">
            <%= link_to '管理者・スタッフはこちら', new_staff_session_path , class: "btn-resize"%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>