
<div class="result-posts">
  <% @posts.each do |user| %>
    <% user.posts.each do |post| %>
      <% if post.first_phrase.present? && post.category == params[:category_name] %>
        <%= post.first_phrase %>　<%= post.second_phrase %>　<%= post.third_phrase %>/(<%= post.pen_name %>)
        /<%= user.gender %>/<%= user.address %>/<%= user.profession %>/<%= user.age %>
        <% if params[:admin] == "true" %>
          【名前：<%= user.name %> / Eメール：<%= user.email %>】
        <% end %>  
        <br>
      <% end %>
    <% end %>
  <% end %>
  <% if params[:admin] == "true" %>
    <%= link_to "前画面へ戻る", :back, class: "btn btn-secondary mt-3" %>
  <% end %>  
</div>
