
<div class="result-posts">
  <% if params[:admin] == "true" %>
    <%= link_to "WIPの画面へ戻る", staffs_staffs_index_path(group_name: current_staff.group_name, category_name: params[:category_name]), class: "btn-gradient confirm-btn mb-3" %>
  <% end %>
  <div class="mb-2">
    <%= will_paginate(@posts_index, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer) %>
  </div> 
  <% @post_rank.each do |post| %>
    <% if post.first_phrase.present? && post.category == params[:category_name] %>
      <div class="main-index d-flex border-bottom mb-2">
        【得票数：<%= Like.where(post_id: post.id).where(voter_id: Voter.where(group: params[:group_name]).ids).count %> 】
        <%= post.id %>.　<%= post.first_phrase %>　<%= post.second_phrase %>　<%= post.third_phrase %> /(<%= post.pen_name %>)
        /<%= post.user.gender %>/<%= post.user.address %>/<%= post.user.profession %>/<%= post.user.age %>
        <% if params[:admin] == "true" %>
          【名前：<%= post.user.name %> / Eメール：<%= post.user.email %>】
        <% end %>  
        <br>
      </div>  
    <% end %>
  <% end %>
  <hr>
  <% @posts_index.each do |post| %>
    <% if post.first_phrase.present? && post.category == params[:category_name] %>
      <div class="main-index d-flex border-bottom mb-2">
        【得票数：<%= Like.where(post_id: post.id).where(voter_id: Voter.where(group: params[:group_name]).ids).count %> 】
        <%= post.id %>.　<%= post.first_phrase %>　<%= post.second_phrase %>　<%= post.third_phrase %> /(<%= post.pen_name %>)
        /<%= post.user.gender %>/<%= post.user.address %>/<%= post.user.profession %>/<%= post.user.age %>
        <% if params[:admin] == "true" %>
          【名前：<%= post.user.name %> / Eメール：<%= post.user.email %>】
        <% end %>  
        <br>
      </div>  
    <% end %>
  <% end %>
  <% if params[:admin] == "true" %>
    <%= link_to "WIPの画面へ戻る", staffs_staffs_index_path(group_name: current_staff.group_name, category_name: params[:category_name]), class: "btn-gradient confirm-btn mt-3" %>
  <% end %>   
</div>
