<header>
  <nav class="navbar navbar-expand navbar-light">
    <%= link_to "ジョカツ川柳", root_path, class: 'navbar-brand' %>
    <%
=begin%>
 <div id="Navber">
      <ul class="navbar-nav">
        <% if voter_signed_in? %>
          <li class="nav-item active">
            <%= link_to 'アカウント編集', edit_voter_registration_path, class: 'nav-link' %>
          </li>
          <li class="nav-item active">
            <%= link_to 'ログアウト', destroy_voter_session_path, method: :delete, class: 'nav-link' %>
          </li>
      <% else %>
          <li class="nav-item active">
            <%= link_to "新規登録", new_voter_registration_path, class: 'nav-link' %>
          </li>
          <li class="nav-item active">
            <%= link_to "ログイン", new_voter_session_path, class: 'nav-link' %>
          </li>
        <% end %>
      </ul>
    </div> 
<%
=end%>
  </nav>
</header>