<% if voter_signed_in? || staff_signed_in? %>
  <header>
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" href="#">ジョカツ川柳</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
          <% if voter_signed_in? %>
            <li class="nav-item active nav-link">
              氏名：<%= current_voter.name %>
            </li>  
            <li class="nav-item active nav-link">
              グループ：<%= current_voter.group %>
            </li>
            <li class="nav-item active nav-link">
              <%= link_to 'アカウント編集', edit_voter_registration_path %>
          　</li>
            <li class="nav-item active nav-link">
              <%= link_to 'ログアウト', destroy_voter_session_path, method: :delete %>
            </li>
          <% elsif staff_signed_in? %>
            <li class="nav-item active nav-link">
              グループ：<%= current_staff.group_name %>
            </li>
            <% if current_staff.admin == true %>
              <li class="nav-item active nav-link">
                <%= link_to "川柳投稿者一覧", staffs_staffs_users_index_path %>
              </li>
              <li class="nav-item active nav-link">
                <%= link_to "投票者・グループ一覧", staffs_staffs_voterposts_index_path %>
              </li>
            <% else %>
            <li class="nav-item active nav-link">
              <%= link_to "投票者一覧", staffs_staffs_voterposts_index_path %>
            </li>
            <% end %>
            <% if current_staff.admin == true %>
              <li class="nav-item active nav-link">
                <%= link_to "メール内容編集", adminmessages_path(id: current_staff.id) %>
              </li>
            <% end %>
            
            <% if current_staff.admin == true %>
              <li class="nav-item active nav-link">
                <%= link_to "csv出力（投稿者）", staffs_staffs_index_path(format: :csv, key: :users, group_name: current_staff.group_name), data: { confirm: "CSVを出力します。よろしいですか？" } %>
              </li>
              <li class="nav-item active nav-link">
                <%= link_to "csv出力（一押し川柳）", staffs_staffs_index_path(format: :csv, key: :voters), data: { confirm: "CSVを出力します。よろしいですか？" } %>
              </li>
            <% end %>
            <li class="nav-item active nav-link">
              <%= link_to "csv出力（川柳）", staffs_staffs_index_path(format: :csv, key: :posts, group_name: current_staff.group_name), data: { confirm: "CSVを出力します。よろしいですか？" } %>
            </li>
            <li class="nav-item active nav-link">
              <%= link_to 'ログアウト', destroy_staff_session_path, method: :delete %>
            </li>
          <% end %> 
        </ul>
      </div>
    </nav>
  </header> 
<% end %>
